<h4 class="sid-recipe-details-title">{{ recipe.order.recipeId }}</h4>

<form #recipeForm="ngForm">
	<div *ngFor="let msg of recipe.message; let i = index">
		<div 
			*ngIf="isQuestionMessage(msg.type); else information" 
			class="form-group sid-recipe-details-question-{{i}}">
				<input 
					name="answer-{{i}}"
					#answer="ngModel"
					placeholder="{{ msg.prettyIdentifier }}"
					[(ngModel)]="answers[i]"
					class="form-control sid-recipe-details-answer-{{i}}" 
					required />
		</div>
		<ng-template #information>
			<p class="sid-recipe-details-msg-{{i}}">{{ msg.data }}</p>
		</ng-template>
	</div>

	<button
		type="submit"
		class="btn btn-primary sid-recipe-details-btn"
		[disabled]="recipe.order.finished || recipeForm.invalid"
		(click)="keepCooking();">Continue</button>
		
	<p 
		class="sid-recipe-details-finished-msg"
		*ngIf="recipe.order.finished">Congratulations, you finished!</p>
</form>
